.categories {
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
}

.categories:hover {
    color: #4FD15A !important;
    background: #c9c9c927;
    box-shadow: 0 0 10px 0 #c9c9c927;
}

.dropdown-toggle::after {
    border-right: 0em solid transparent;
    border-bottom: 0;
    border-left: 0em solid transparent;
}

nav {
    top: 30px;
}

.navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
    .container-fluid {
        padding-right: var(--bs-gutter-x, 3rem);
        padding-left: var(--bs-gutter-x, 3rem);
    }
}


/* ============ desktop view .end// ============ */


/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}


/* ============ small devices .end// ============ */


/* ============ Right Menu Start ===============*/

.right-menu>li>a {
    /* color: #ed1036 !important; */
    color: rgb(0 172 28) !important;
    font-size: 20px;
}


/* ============ Right Menu End ===============*/

#custom-search-input {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    width: 77%;
    margin-left: 20px;
}

#custom-search-input .search-query {
    padding-right: 4px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 8px;
    font-size: 12px;
}

#custom-search-input button {
    border: 0;
    background: #f3f4f5;
    padding: 2.5px 7px;
    margin-top: 1px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px 7px 7px 0px;
    color: #959595;
}

.btn-danger:hover {
    background: rgba(49, 53, 59, 0.12) !important;
}

.search-query:focus+button {
    z-index: 3;
}

.input-group .btn {
    position: relative;
    z-index: 30;
}

.pp-logo {
    width: 30%;
}


/* =================== TOP NAV START ======================*/

.topnav {
    width: 100%;
    display: flex;
    height: 32px;
    z-index: 3;
    background-color: rgb(243, 244, 245);
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 0px 32px;
    position: fixed;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 0px;
    right: 0px;
}

.topnav a {
    color: rgba(49, 53, 59, 0.68);
    font-size: 12px;
    line-height: 31px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    transition: color 200ms ease 0s;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.topnav-right {
    display: flex;
    margin: 0px;
    justify-content: space-around;
    width: 40%;
}


/* =================== TOP NAV END ======================*/


/* =================== BOTTOM NAV START ======================*/

.nav-bottom {
    margin-left: 30%;
}

.top-cats {
    display: flex;
    margin: 0px;
    justify-content: space-around;
    width: 50%;
}

.top-cats a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    color: rgba(49, 53, 59, 0.68);
    font-size: 12px;
    line-height: 8px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    transition: color 200ms ease 0s;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}