.product-banner {
    background-color: #F7F7F7;
    border-radius: 0.5rem;
}

.product-dets p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.product-img {
    overflow: hidden;
}

.product-img img {
    display: block;
    width: auto;
    height: 250px;
    margin: 0 auto;
}

.shop-details {
    display: flex;
}

.shop-image img {
    height: 40px;
    width: auto;
    margin-left: 1.5rem;
}

.price span {
    font-size: 21px;
    font-weight: 500;
    color: #ED3A43;
    line-height: 1;
}

.price .btn-pp {
    margin: 0 0 .3rem 1rem;
}