/* Chrome */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Search Sidebar */

.search-sidebar .form-control {
    border-radius: 10px;
}

.search-sidebar .form-control label {
    line-height: 2;
    color: #757575;
}

.relevance-sort .form-select {
    color: #757575;
}

.search-sidebar .btn-light {
    width: 100% !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #757575;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (max-width: 992px) {
    .search-sidebar .search-radio {
        display: none;
    }
}

.sidebar-cats a {
    display: block;
    color: #757575;
    text-decoration: none;
    line-height: 2;
}

.sidebar-cats a:hover {
    text-decoration: underline;
}


/* ===================== PRODUCTS VIEW STARTS ===================== */

.single-product {
    height: 100%;
}

.product-head {
    height: 350px;
    width: fit-content;
}

.product-image {
    height: 180px;
    width: 100%;
}

.product-image img {
    height: auto;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: clip;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.product-title a,
.product-desc a {
    text-decoration: none;
}

.product-title p {
    color: #111;
    font-weight: 500;
}

.product-desc p {
    color: #777;
}

.product-details {
    padding-top: 0 !important;
}

.product-details p {
    margin-bottom: 0.2rem;
}

.shop-name p {
    color: #1967d2;
}

.product-price {
    color: #111;
    font-weight: bold;
    font-size: 16px;
}


/* ===================== PRODUCTS VIEW ENDS ===================== */